{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if products %}
        {% for p in products %}
        <div class="col col-md-3 col-sm-12">
            <div class="card" style="padding: 1rem">
                <img class="card-img-top" src={{ p.image }} alt="{{ p.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{p.description}}</p>
                    <p class="card-text">{{ "{:,.1f}".format(p.price) }}</p>
                    <a href="#" class="btn btn-primary">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Không có sản phẩm nào!</h1>
        {% endif %}
    </div>
</div>
{% endblock %}