{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if products %}
        {% for p in products %}
        <div class="col col-md-3 col-sm-12" style="padding: 1rem">
            <div class="card" >
                <img class="card-img-top" src={{ p.image }} alt="{{ p.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{p.description|safe}}</p>
                    <p class="card-text">{{ "{:,.0f}".format(p.price) }}đ</p>
                    <a href="/product/{{ p.id }}" class="btn btn-primary">Chi tiết</a>
                    <a href="javascript:;" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})" class="btn btn-danger btn-primary">Đặt mua</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Không có sản phẩm nào!</h1>
        {% endif %}
    </div>
</div>
{% endblock %}